@font-face {
  font-family: "coolvetica";
  src: url("../fonts/coolvetica/coolvetica rg.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "coolvetica";
  src: url("../fonts/coolvetica/coolvetica rg it.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

body,html {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.digital-clock {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-right: 10px;
}


  /* Clock */

.clock {
    font-weight: bold;
    font-weight: 900;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: start;
    align-items: start;

}
  
.time {
    line-height: 180px;
    font-size: 180px;
    color: #000000;
    font-family: 'coolvetica', sans-serif;
    letter-spacing: 15px;

}
