body,html {
    padding: 0;
    margin: 0;
    font-size: 28px;
}

.calendar-widget {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#month-label {
    position: relative;
    font-weight: 900;
    transform:scale(1.25);
}

#calendar-table {
	border-collapse: collapse;
	border-spacing: 0;
    margin-top: 10px;
}

.calendar td {
	padding: 6px 6px;
	text-align: center;
}

.c-td-h {
    font-weight: 900;
}

.current-day {
	color: #e66b6b;
    font-weight: 900;
    transform:scale(1.25);
}

.prev-month,
.next-month {
	color: #cacaca;
}



